appdirs==1.4.3
asgiref==3.2.5
click==7.1.1
cv==1.0.0
distlib==0.3.0
Django==3.0.7
docx2pdf==0.1.5
filelock==3.0.12
Flask==1.1.1
Flask-Cors==3.0.8
Flask-MySQL==1.5.1
itsdangerous==1.1.0
Jinja2==2.11.1
jsonify==0.5
MarkupSafe==1.1.1
numpy==1.18.2
opencv-contrib-python==4.1.2.30
opencv-python==4.2.0.32
PyMySQL==0.9.3
pypiwin32==223
pytz==2019.3
pywin32==227
six==1.14.0
sqlparse==0.3.1
tqdm==4.45.0
views==0.3
virtualenv==20.0.13
virtualenvwrapper-win==1.2.6
Werkzeug==1.0.0
